/* Class for About Us */


/* body using root variables */
body {
    color: var(--text-color);
    /* background-color: var(--background-color); */
}

input{
    padding:10px
}
 h1{
    padding: 0;
    text-align: start;
 }

#aboutLabel {
    padding-left: 1%;
}

.aboutUsClass {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}

/* About Us word content */
.aboutUsContent {
    width: 50%;
    padding: 4%; 
    margin-bottom: 3%;
    color:var(--header-font-color);
    font-weight: bolder;
}


/* About Us image on right */
.aboutUsImage {
    width: 50%;
    text-align: center;
}

.aboutUsImage img {
    max-width: 60%;
    height: auto;
}

#contactLabel {
    padding-left: 4%;
    text-align: left;
}

.contact-form {
    text-align: center;
}

/* Increase the width of the input fields on the left. Same css to keep it consistent */
#name, #email, #reason {
    width: 50%; /* Set the width to 100% to make it twice as large */
    /* color: black; */
    color:var(--header-font-color);
}

.contactClass {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px; /* Adjust the gap as needed */
    padding-left: 3%;
}

.contactFormClass {
    grid-column: span 1;
}

.contactFormMessage {
    grid-column: span 1;
    margin-bottom: 2em;
}

.contactFormMessage textarea {
    width: 80%;
}

label {
    display: block;
    margin-top: 10px;
    /* background-color: #b15f02c5;  */
    background-color:var(--header-bg-color);
    /* color: #fff; try white */
    padding: 5px;  
    width:fit-content;
    font-weight: bold;
    border-radius: 5px; /* round corners */
    color:var(--header-font-color);
}

/* Center the submit button horizontally */
#submitID {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 10em;  
    height: 2em;
    background-color:var(--header-bg-color) ; 
    color:#fff;
    padding: 1px;  
    font-weight: bold;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    margin-top: 1em;
    border-radius: 5px; /* round corners */
}

/* Center the submit button horizontally */
.submitClass {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: large;
    color:var(--header-font-color);
}

#thank-you {
    display:block;
}


/* responsive code for smaller cell phone screen sizes */
@media screen and (max-width: 800px) {
    h1 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    label {
        margin-top: 5px;
    }

    input, select, textarea {
        width: 90% !important; 
        padding: 5px;
        margin: 2px 0;
    }

    /* stack elements vertically when on a cell phone*/
    .contactClass {
        display: flex;
        flex-direction: column;
    }

/* .contactClass {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contactFormClass {
    width: 58%;
}

.contactFormMessage {
    width: 40%;
    text-align: left;
}

.contactFormMessage textarea {
    width: 80%;
}

label {
    display: block;
} */

.aboutUsClass{
    display: flex;
    flex-direction: column;
}
.aboutUsContent{
    width: 100%;
}
.aboutUsImage{
    width: 100%;
}
.aboutUsImage img {
    max-width: 100%;
}
}