/* 
<!--body.theme-dark{
    background-color: #1E5F74;
    align-items: center;
    height: 100vh;
}

header.header-theme-dark{
    display:flex;
    background-color:#1D2D50 ;
    text-align: center;
    align-items: center;
}
option.option-theme-dark{
    background-color: #1D2D50;
}

footer.footer-theme-dark{
    background-color: #1D2D50;
    height: 40px;
} */
footer.footer-theme-dark{
    background-color:red;
} 