body{
    background-image: url(./assets/img/bg.jpg);
    align-items: center;
    justify-content: center;
    margin: 0;
}

.login-container{
    display: flex;
    flex-direction: column;
    background-color: #F0ECE3;
    width:fit-content;
    height:600px;
    align-items: center;
    padding: 40px;
    margin:40px;
    border-radius: 33px;
    text-align: center;
    display: inline-block;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}
form{
    align-items: center;
    text-align: center;
}
#login-title{
    color: #85735F;
    font-size: 55px;
    margin-bottom: 80px;
    
}
.email-input {
    color: #A08668;
    margin: 10px;
    font-weight: bolder;
    border: none;
}
#username{
    border: none;
    background: transparent;
    border-bottom: 1px solid #A08668;
}
.password-input {
    color: #A08668;
    padding: 10px;
    margin-bottom: 150px;
    margin-left: 65px;
    margin-top: 40px;
    font-weight: bolder;
}
#password{
    border: none;
    background: transparent;
    border-bottom: 1px solid #A08668;
}

button{
    background-color: #C7B198;
    color: white;
    margin: 20px;
    padding: 10px;
    border: none;
    border-radius: 40px;
    width: 30%;
    height: 13%;
    font-size: 20px;
    font-weight: bolder;
    
}