* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }

body {
    background-color: #FFF3B0 ;
    align-items: center;
    height: 100vh;
}
header{
    display:flex;
    background-color:#335C67 ;
    text-align: center;
    align-items: center;
}
nav {
  width: 75%;
    padding: 20px;
  }

  .button {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 20px;
    cursor: pointer;
  }

  select{
    background-color: transparent;
    color: white;
    padding: 3px;
    font-size: 21px;
  }
  option{
    background-color: #335C67 ;
  }

  .nav-theme {
    width: 25%;
    text-align: center;
    align-items:center ;
  }