

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    margin: 0;
}

p {
    font-size: 18px;
    margin: 10px;
}

.description {
    text-align: left;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

#resultMessage {
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}

span {
    font-weight: bold;
}

#numberOptions {
  
}

.numberOption {
    font-size: 20px;
}