/* ---------------------- */
/* light theme */
:root {
    --bg-color: #ece1cb;
    --text-color: #000000;
    --button-bg: #3498db;
    --button-text: #ffffff;
    --header-font-color:#251809;

    --bg-pic: url('../../assets/img/kid-blackjack.png');

    --logo-bg-image: url(../../assets/img/logo-light.png);
                
}

/* Dark theme */
[dark-theme="dark"] {
    --bg-color: #333333;
    --text-color: #ffffff;
    --button-bg: #2c3e50;
    --button-text: #ecf0f1;
    --header-font-color:#ffffff;

    --bg-pic: url('../../assets/img/kid-blackjack-dark.png');

    --logo-bg-image: url(../../assets/img/logo-dark.png);
}

.dark-theme {
    --bg-color: #333333;
    --text-color: #ffffff;
    --button-bg: #2c3e50;
    --button-text: #ecf0f1;
    --header-font-color:#ffffff;

    --bg-pic: url('../../assets/img/kid-blackjack-dark.png');

    --logo-bg-image: url(../../assets/img/logo-dark.png);
}

/* back-arrow-back */
   .page-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (left) of the container  flex-start; */
    margin-top: 10px;
    }

    .back-arrow-back {
        display: flex;
        align-items: center; /* Vertically center the content */
        margin-left: 20px; /* Adjust the margin for proper positioning */
        margin-top: 10px;
        color:var(--header-font-color);
    }
    
    .back-arrow-back img {
        cursor: pointer;
        margin-right: 5px; /* Adjust the margin to control the space between the image and text */
    }
    
    .back-arrow-back p {
        font-weight: 700;
        text-align: start;
        padding-top: 20px;
        margin-right: 10px; Adjust the margin to control the space between the image and text
        color:var(--header-font-color);
    }


body {
    font-family: Arial, sans-serif;
    text-align: center;
    /* background-image: url('../../assets/img/kid-blackjack.png');  */
    background-image: var(--bg-pic);
    background-color: var(--bg-color);
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    /* filter: brightness(1.9); */
    /* opacity: 0.7; */
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

#descriptionButton {
    padding: 20px;
    text-align: left; 
    width: 20%; /* Make it take up the full width on small screens */
    margin: -50px 0; 
    display: flex;
    flex-direction: column; /* Stack the content vertically */
    /* opacity: 0.75; */
    /* display: inline-block; Make the container only as wide as its content */
    text-align: center; 
    color:var(--header-font-color);
    box-shadow: 0px 1px 10px #999;
    border-radius: 10px;
}

#description {
    /* display: none by default, to be toggled to show when the button is pressed via javascript due to difficulty in text over the background image of girl */
    display: none;
    background-color: var(--footer-bg-color);
    padding: 20px;
    text-align: left; 
    width: 30%; /* Make it take up the full width on small screens */
    margin: 10px 0; 
    /* display: flex; */
    flex-direction: column; /* Stack the content vertically */
    /* opacity: 0.75; */
    /* display: inline-block; Make the container only as wide as its content */
    text-align: left; 
    color:var(--header-font-color);
    box-shadow: 0px 1px 10px #999;
    border-radius: 10px;
}

#description h2 {
    display: none;
    margin: 0; /* Remove default margins for h2 */
}

#description p {
    
    margin: 10px 0; /* Add margin to separate paragraphs */
}

/* Blackjack Number Picking Game */
h1 {
    /* background-color: #3498db; */
    background-color: rgba(52, 152, 219, 0.6); /* 50% transparent blue background */
    /* color: #fff; */
    padding: 20px;
    margin: 0;
    box-shadow: 0px 1px 10px #999;
    display: inline-block;
    color:var(--header-font-color);
}

p {
    font-size: 18px;
    margin: 10px;
}


button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 30px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 1px 10px #999;
}

button:hover {
    background-color: #2980b9;
}

#resultMessage {
    font-size: 40px;
    font-weight: bold;
    margin: 20px;

}

span {
    font-weight: bold;
}



#numberOptions {
    flex: 1;
    padding: 20px;
}

.numberOption {
    font-size: 20px;
}

.game {
    margin-top: 200px;
}


#yourNumberID {
    background-color: #2980b9;
    color: var(--header-font-color);
    padding: 10px; 
    display: inline-block;
}

#userNumber {
    background-color: #2980b9;
    color: var(--header-font-color);
    padding: 10px; 
    display: inline-block;
}

   /* Responsive styles for smallers screens/cells  */
   @media screen and (max-width: 800px) 
   {
    #description, #game {
        padding: 10px;
    }

    h1, h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    .numberOption {
        font-size: 14px;
        padding: 5px 10px;
    }

